.header {
  display: flex;
  width: 100vw;
  height: 134px;
  justify-content: center;
  background-color: var(--bg_section_primary);
  font-size: 16px;
  font-family: 'Inika', serif;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.links {
  display: flex;
  gap: 15px;
  max-width: 452px;
}

.links-item:visited {
  color: var(--text_color_dark);
}
