@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 30px;
  font-style: normal;

  --bg_section_primary: #EDF2EC;
  --text_title: #717171;
  --color_primary_intensive: #499A18;
  --color_primary_light: #D6E7D2;
  --color_primary_focus: #c1e4b9;
  --color_disabled: #adabaa;
  --text_color_primary: #636060;
  --text_color_btn: #474545;
  --text_color_dark: #000000;
  --color_item_bright: #E06733;
  --color_white_unchangeable: #FFFFFF;
  --color_warning_intensive: rgba(255, 0, 4, 0.67);
  --color_warning: rgba(163, 43, 43, 0.402);

  --main_content_width: 1200px;
  --main_content_width_mobile: 300px;
  --main_content_width_mobile_small: 0px;
  --main_content_width_tablet: 720px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
}

header {
  display: flex;
  width: 100vw;
  height: 134px;
  justify-content: center;
  background-color: var(--bg_section_primary);
  font-size: 16px;
  font-family: 'Inika', serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

footer {
  display: flex;
  width: 100vw;
  height: 130px;
  justify-content: center;
  background-color: var(--color_white_unchangeable);
  font-size: 16px;
}

a {
  text-decoration: none;
  color: var(--text_color_dark);
}
