.contacts-wrapper {
  background-color: var(--bg_section_primary);
}

.contacts-title {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--color_primary_intensive);
}

.contacts-layout {
  display: flex;
  justify-content: space-evenly
}

.contacts-img,
.contacts-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  justify-content: flex-start;
  align-content: flex-start;
}

.form input,
.form select,
.upload-btn {
  background: var(--color_primary_light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: var(--text_title);
  transition: .5s;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="radio"],
.form select,
.upload-btn {
  margin-left: 20px;
}

.form input[type="file"] {
  display: none;
}

.form input:active,
.form input:focus,
.form select:focus {
  outline: none;
  background-color: var(--color_primary_focus);
}

.notification-rule-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: var(--text_title);
  margin-left: 15px;
}

form .upload-btn,
form .submit-btn {
  color: var(--text_color_btn);
}

form .upload-btn:hover,
form .submit-btn:hover {
  background-color: var(--color_primary_focus);
}
